<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="persona.name"/>
<p *ngIf="persona.name === 'andres' ">Hola soy ANDRES</p>
<p *ngIf="persona.name === 'moises' && persona.age === 18; else elseBlock">Hola soy MOISES y tengo 18 años</p>
<ng-template #elseBlock>
  <p>Bloque de else, ninguna condicion se esta cumpliendo</p>
</ng-template>
<hr>

<h1>NgModel</h1>
<p>Nombre: {{persona.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="persona.name"/>
<p>Valid: {{nameInput.valid}}</p>
<p>Age: {{persona.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="persona.age"/>
<p>Valid: {{ageInput.valid}}</p>
<hr>

<h1>Eventos (Event Binding)</h1>
<button [disabled]="btnDisable">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ persona.age }}</p>
<button (click)="increaseAge()">Age++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet. Cum saepe esse ex corrupti necessitatibus At
    sint repellendus. Cum consequatur tempora aut nesciunt omnis a perspiciatis
    quos et optio quam ad perferendis Quis vel tenetur officia. Et consequatur
    dicta ea doloribus voluptas et voluptatem natus sit distinctio voluptatem
    est molestias soluta. A impedit dignissimos eum ullam unde et esse
    voluptatem et quia quibusdam 33 quidem delectus At perferendis quas ut velit
    aliquid?
  </p>
</div>
<p>Nombre: {{persona.name}}</p>
<input type="text" [value]="persona.name" (keyup)="changeName($event)"/>

<hr />

<h1>Property Binding</h1>
<button [disabled]="btnDisable">Enviar</button>
<input type="text" [value]="persona.name" />
<progress max="100" [value]="persona.age"></progress>
<img width="200" [src]="persona.avatar" alt="imagen" />

<hr />

<h1>Hola mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>

<h3>Hola soy {{ name }} y tengo {{ age }}</h3>

<img src={{img}} alt="una_imagen" width="400"/>
