<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="registro.name">
    <p></p>
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="registro.email">
    <p></p>
    <label for="password">Contraseña</label>
    <input type="text" name="password" required id="password" [(ngModel)]="registro.password">
    <p></p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>
<hr>

<h1>[NgClass] & [NgStyle]</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="persona.name" />
<hr class="line-error" [ngClass]="{
  'valid':nameInput4.valid,
  'invalid':nameInput4.invalid,
}" />
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>

<div>
  <div>
    <input type="number" [(ngModel)]="box.width"/>
    <input type="number" [(ngModel)]="box.height"/>
    <input type="color" [(ngModel)]="box.background"/>
  </div>
  <div [ngStyle]="{
    'width.px':box.width,
    'height.px':box.height,
    'background':box.background,
    'display':'block'
  }">Box</div>
</div>
<hr>

<h1>Clases y Estilos</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="persona.name"/>
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
<label>Nombre </label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="persona.name"/>
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto Texto Texto Texto Texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg"/>
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="persona.avatar" alt="imagen" />
  </div>
</div>
<hr>

<h1>Estilos</h1>
<div class="products--grid">
  <div *ngFor="let product of productos">
    <img [src]="product.image" alt="imagen">
    <h2>{{product.price}}</h2>
    <P>{{product.name}}</P>
  </div>
</div>
<hr>

<h1>[ngSwitch]</h1>
<input type="text" required [(ngModel)]="persona.name"/>
<!-- <p *ngIf="persona.name === 'andres1'">La persona es andres1</p>
<p *ngIf="persona.name === 'andres2'">La persona es andres2</p>
<p *ngIf="persona.name === 'andres3'">La persona es andres3</p>
abajo codigo con switch-->
<div [ngSwitch]="persona.name">
  <p *ngSwitchCase="'andres1'">La persona es andres1</p>
  <p *ngSwitchCase="'andres2'">La persona es andres2</p>
  <p *ngSwitchCase="'andres3'">La persona es andres3</p>
  <p *ngSwitchDefault>No hace match</p>
</div>
<hr>

<h1>*ngFor Objects</h1>
<div>
  <div *ngFor="let product of productos">
      <img [src]="product.image" alt="imagen" width="250">
      <h2>{{product.price}}</h2>
      <P>{{product.name}}</P>
  </div>
</div>
<hr>

<h1>*ngFor</h1>
<button (click)="addName()">Add name</button>
<input type="text" required [(ngModel)]="newName"/>
<ul>
  <li *ngIf="names.length===0">No hay elementos</li>
  <li *ngFor="let name of names; index as i">
    {{i}} - {{name}}
    <button (click)="eliminarNombre(i)">Delete</button>
  </li>
</ul>
<hr>

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="persona.name"/>
<p *ngIf="persona.name === 'andres' ">Hola soy ANDRES</p>
<p *ngIf="persona.name === 'moises' && persona.age === 18; else elseBlock">Hola soy MOISES y tengo 18 años</p>
<ng-template #elseBlock>
  <p>Bloque de else, ninguna condicion se esta cumpliendo</p>
</ng-template>
<hr>

<h1>NgModel</h1>
<p>Nombre: {{persona.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="persona.name"/>
<p>Valid: {{nameInput.valid}}</p>
<p>Age: {{persona.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="persona.age"/>
<p>Valid: {{ageInput.valid}}</p>
<hr>

<h1>Eventos (Event Binding)</h1>
<button [disabled]="btnDisable">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ persona.age }}</p>
<button (click)="increaseAge()">Age++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet. Cum saepe esse ex corrupti necessitatibus At
    sint repellendus. Cum consequatur tempora aut nesciunt omnis a perspiciatis
    quos et optio quam ad perferendis Quis vel tenetur officia. Et consequatur
    dicta ea doloribus voluptas et voluptatem natus sit distinctio voluptatem
    est molestias soluta. A impedit dignissimos eum ullam unde et esse
    voluptatem et quia quibusdam 33 quidem delectus At perferendis quas ut velit
    aliquid?
  </p>
</div>
<p>Nombre: {{persona.name}}</p>
<input type="text" [value]="persona.name" (keyup)="changeName($event)"/>

<hr />

<h1>Property Binding</h1>
<button [disabled]="btnDisable">Enviar</button>
<input type="text" [value]="persona.name" />
<progress max="100" [value]="persona.age"></progress>
<img width="200" [src]="persona.avatar" alt="imagen" />

<hr />

<h1>Hola mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>

<h3>Hola soy {{ name }} y tengo {{ age }}</h3>

<img src={{img}} alt="una_imagen" width="400"/>
